.App {
  text-align: center;
}

body {
  background-color: #f7f9fb;
}

.App-heading {
  text-align: center;
  color: #151517;
  font-family: "Lato";
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 3px;
}
